body {
    background: url(dark.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div{
    font-size: 50px;
    color: white
  }